body{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
}

/* media query for mobile devices */
@media (max-width: 767px) {
  body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
  }
}
